<phpunit>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/TemplesOfCode/CodeSanity/</directory>
            <file>RemoteConnection</file>
            <file>RosterItem</file>
            <file>Roster</file>
            <file>Output</file>
            <!--<exclude>-->
                <!--<directory suffix=".php">./src/TemplesOfCode/CodeSanity/</directory>-->
                <!--<file>/Roster</file>-->
            <!--</exclude>-->
        </whitelist>
    </filter>
</phpunit>